/* Mengatur font utama dan perilaku scroll */
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

/* Style untuk memastikan iframe PDF responsif dan menjaga rasio aspek */
.pdf-frame-container {
    position: relative;
    width: 100%;
    padding-top: 141.42%; /* Aspect Ratio untuk PDF ukuran A4 (297/210) */
    height: 0;
    overflow: hidden;
}

/* Style untuk iframe agar mengisi penuh container-nya */
.pdf-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
